version: "3.8"

services:
  # Servicio de Base de Datos
  db:
    image: postgres:15-alpine # Usamos una versi칩n ligera (Alpine) de Postgres
    container_name: rifas_db # Nombre para identificarlo f치cil en Docker Desktop
    restart: always # Si se cae o reinicias la compu, que arranque solo
    ports:
      - "5432:5432" # El puerto 5432 de tu compu conecta al 5432 del contenedor
    environment:
      POSTGRES_USER: user # Usuario maestro
      POSTGRES_PASSWORD: password # Contrase침a maestra
      POSTGRES_DB: rifas_db # Nombre de la base de datos que crear치
    volumes:
      - postgres_data:/var/lib/postgresql/data # Esto es VITAL: Guarda los datos en tu disco duro para que no se borren al apagar docker

volumes:
  postgres_data: # Definimos el volumen persistente
